#logobook {
    width: 160px;
}

#btnGroupAddon :hover {
    cursor: pointer;
}

#cart-icon {
    width: 45px;
}

#navbarContent >ul >li >a , #phonenumber{
    color: white;
}

div#main{
    background-image: url(../images/bgimg.jpg);
    background-size: contain;
}

.footer-ul {
    list-style: none;
    padding-left: 0px;
}

.footer-ul >li >p{
    color: white;
    font-size: 16px;
}

/* soluong */
.buy-amount button{
    width: 35px;
    height: 35px;
    outline: none;
    background: none;
    border: 1px solid #ececec;
}

/* color */
.color-53a57f{
    background-color: #53a57f;
}

/* table-cart */
.cart-thead{
    border-bottom: 1px solid #ebebeb;
    border-top: 1px solid #ebebeb;
}

.cart-thead > div{
    font-weight: 550;
    font-size: large;
}

.cart-tbody ,.cart-tfooter{
    border-bottom: 1px solid #ebebeb;
    margin-bottom: 10px;
}

.cart-tbody > div{
    height: 155px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#total-price{
    font-size: 28px;
    font-weight: 600;
}

/* Modal */

.modal-content {
    margin-top: 150px;
}