#logobook {
    width: 160px;
}

#btnGroupAddon :hover {
    cursor: pointer;
}

#cart-icon {
    width: 45px;
}

#navbarContent >ul >li >a , #phonenumber{
    color: white;
}

div#main{
    background-image: url(../images/bgimg.jpg);
    background-size: contain;
}

.footer-ul {
    list-style: none;
    padding-left: 0px;
}

.footer-ul >li >p{
    color: white;
    font-size: 16px;
}

/* soluong */
.buy-amount>input{
    width: 35px;
    height: 35px;
    outline: none;
    background: none;
    border: 1px solid #ececec;
}

/* color */
.color-53a57f{
    background-color: #53a57f;
}

/* table-cart */
.cart-thead{
    border-bottom: 1px solid #ebebeb;
    border-top: 1px solid #ebebeb;
}

.cart-thead > div{
    font-weight: 550;
    font-size: large;
}

.cart-tbody ,.cart-tfooter{
    border-bottom: 1px solid #ebebeb;
    margin-bottom: 10px;
}

.cart-tbody > div{
    height: 155px;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* tble-sp */
table#tbl-sp {
    border-bottom: 1px solid #8b8b8b;
}

table#tbl-sp > thead > tr{
    background-color: #198754;
    text-align: center;
}

table#tbl-sp > thead > tr > th {
    color: white; 
    padding: 10px;   
    text-transform: capitalize;
}

table#tbl-sp > tbody > tr{
    text-align: center;
}

table#tbl-sp > tbody > tr > td {
    padding: 10px;     
}

table#tbl-sp > tbody > tr > td > img {
    width: 135px;
}

#total-price{
    font-size: 28px;
    font-weight: 600;
}

/*  */
i.fas.fa-remove:hover {
    cursor: pointer;
    color: #f92b2b;
    scale: 1.8;
}

/* Modal */

.modal-content {
    margin-top: 150px;
}

