/* Color */
.color-53a57f{
    background-color: #53a57f;
}
.color-dbe3eb {
    background-color: #dbe3eb;
}
/* search box */
select#selector1 {
    border: 1px solid #d9dde2;
    background-color: white;
}

/* nav-link */

li.nav-item :hover{
    background-color: rgb(233, 85, 115);
}

/* table-cart */
.cart-thead{
    border-bottom: 1px solid #ebebeb;
    border-top: 1px solid #ebebeb;
}

.cart-thead > div{
    font-weight: 550;
    font-size: large;
}

.cart-tbody ,.cart-tfooter{
    border-bottom: 1px solid #ebebeb;
    margin-bottom: 10px;
}

.cart-tbody > div{
    height: 75px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#edit_dm {
    border: 1px solid #000;
    border-radius: 5px;
}

#edit_dm-header{
    background-color: #198754;
    padding: 15px;
    color: white;
}