/* Color */
.color-53a57f{
    background-color: #53a57f;
}
.color-dbe3eb {
    background-color: #dbe3eb;
}
/* search box */
select#selector1 {
    border: 1px solid #d9dde2;
    background-color: white;
}

/* nav-link */

li.nav-item :hover{
    background-color: rgb(233, 85, 115);
}

/* table-cart */
.cart-thead{
    border-bottom: 1px solid #ebebeb;
    border-top: 1px solid #ebebeb;
    
}

.cart-thead > div{
    font-weight: 550;
    font-size: large;
    color: white;
    
}

.cart-tbody ,.cart-tfooter{
    border-bottom: 1px solid #ebebeb;
    margin-bottom: 10px;
}

.cart-tbody > div{
    height: 75px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#edit_dm {
    border: 1px solid #000;
    border-radius: 5px;
}

#edit_dm-header{
    background-color: #198754;
    padding: 15px;
    color: white;
}

/*  */
i.fas.fa-remove:hover {
    cursor: pointer;
    color: #f92b2b;
    scale: 1.8;
}

i.fas.fa-regular.fa-pen-to-square:hover {
    color: #112ecf;
    scale: 1.8;
}
i.fas.fa-solid.fa-clipboard-list:hover{
    color: #112ecf;
    scale: 1.8;
}

/* tble-sp */
table#tbl-sp {
    border-bottom: 1px solid #8b8b8b;
}

table#tbl-sp > thead > tr{
    background-color: #198754;
    text-align: center;
}

table#tbl-sp > thead > tr > th {
    color: white; 
    padding: 10px;   
    text-transform: capitalize;
}

table#tbl-sp > tbody > tr{
    text-align: center;
}

table#tbl-sp > tbody > tr > td {
    padding: 10px;     
}

table#tbl-sp > tbody > tr > td > img {
    width: 135px;
}

/* table user */
table#tbl-user {
    border-bottom: 1px solid #8b8b8b;
}

table#tbl-user > thead > tr{
    background-color: #198754;
    text-align: center;
}

table#tbl-user > thead > tr > th {
    color: white; 
    padding: 10px;   
    text-transform: capitalize;
}

table#tbl-user > tbody > tr{
    text-align: center;
}

table#tbl-user > tbody > tr > td {
    padding: 10px;     
}
/* useradmin */
div#useradmin {
    position: absolute;
    top: 5px;
    right: 50px;
}

